<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Input modules
      </div>
      <ul class="list-group">
        {{#each model as |input|}}
          {{#if input.isInput}}
            <li class="list-group-item">
              <div class="row">
                {{#eustace-stream icon=input.icon title=input.name}}
                  {{input.description}}
                {{/eustace-stream}}
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      <div class="panel-heading">
        Analysis modules
      </div>
      <ul class="list-group">
        {{#each model as |input|}}
          {{#unless input.isInput}}
            <li class="list-group-item">
              <div class="row">
                {{#eustace-stream icon=input.icon isInput=input.isInput title=input.name}}
                  {{input.description}}
                {{/eustace-stream}}
              </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
