<br />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Maecenas sit amet volutpat eros
        </div>
        <ul class="list-group">
          {{#each model as |input|}}
            <li class="list-group-item">
              <div class="row">
                {{#eustace-modules-input title=input.name}}
                  {{input.description}}
                {{/eustace-modules-input}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
